<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul class="review-list">
            <li class="review-item">
                <img src="../img/book1.png" alt="" class="review-thumb">
                <p class="review-title">쾌락독서</p>
                <p class="review-author">문유석</p>
                <p class="review-date">2023-01-16</p>
                <p class="review-writer">강민여</p>
                <p class="review-stars">5.0/5.0</p>
                <button class="review-delete">X</button>
            </li>
        </ul>
    </div>
</body>
</html>