<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modal-container">
        <form class="modal">
            <input type="text" class="review-title" placeholder="book title"><!--value or placeholder? -->
            <input type="text" class="review-content" placeholder="content">
            <input type="text" class="review-writer" placeholder="your name">
            <input type="text" class="review-stars" placeholder="0/5.0">
            <button class="review-add">등록하기</button>
        </form>
        <!-- 나오는거는 태그만 넣고 이거 돌려봐야 기억이 날거같음 -->
    </div>
</body>
</html>